

.traveler-management {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f9fafc;
  min-height: calc(100vh - 70px); 
  margin-top: 0;
}

.traveler-displaychoice{
    display: flex;
    flex-direction: row;
}


.traveler-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* center vertically */
  align-items: center;       /* center horizontally */
  padding: 40px;
  background: #fff;
  color: #333;
}

.explore-btn {
  background-color: #ff6a00;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #ff8500;
}
